.table{
    height: 500px;
    width:30%;
    margin-left:900px;
    margin-top: -450px;
}
.Img{
    margin-top: 140px;
    padding-left: 230px;
}
.Fonts{
    font-size: large;
}
.Sizebx{
    height: 26px;
    width:200px;
}
.Addrbx{
    height: 26px;
    width:100px;
}